/* NES CONSOLE COLOR PALETTE
#0d0c0c
#a5a2a2
#e5e5e5
#ffffff
#dd2020
 */

body {
  margin: 0;
  background-color: #e5e5e5;
}

* {
  border-image-repeat: stretch !important;
}

.nes-btn input[type="file"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.nes-btn-warning-keyboard::after {
  box-shadow: inset 4px 4px #e59400 !important;
}

.nes-btn-primary-keyboard::after {
  box-shadow: inset 4px 4px #006bb3 !important;
}
.nes-btn-success-keyboard::after {
  box-shadow: inset 4px 4px #4aa52e !important;
}

.nes-btn-error-keyboard::after {
  box-shadow: inset 4px 4px #8c2022 !important;
}


.container {
  max-width: 400px;
  margin: 0 auto;
}

.nes-container {
  margin-top: 2rem;
  background-color: #a5a2a2;
  border-radius: 5%;
}

.title {
  background-color: #e5e5e5 !important;
  border-radius: 10%;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}
